// Theme colours.
$cachet-base-light: #fff;
$cachet-base-medium: #f7fcfc;
$cachet-base-dark: #333;

$cachet-primary: #009900;
$cachet-secondary: #6DB81C;

$cachet-link: #009900;
$cachet-link-hover: #01579b;

$cachet-gray-light: #e8e8e8;
$cachet-gray: #999;
$cachet-gray-darker: #666;

$cachet-icons: #5e5e5e;

// Statuses
$cachet-green: $cachet-primary;
$cachet-dark-green: darken($cachet-green, 10%);

$cachet-blue: #0077cc;
$cachet-dark-blue: darken($cachet-blue, 10%);

$cachet-red: #e52e2e;
$cachet-dark-red: darken($cachet-red, 10%);

$cachet-teal:  #99CCFF;
$cachet-dark-teal: darken($cachet-teal, 10%);

$cachet-yellow: #FFBB55;
$cachet-dark-yellow: darken($cachet-yellow, 10%);

$cachet-pink: #b23f73;
$cachet-dark-pink: darken($cachet-pink, 10%);

$cachet-grey: #ecf0f1;
$cachet-dark-grey: darken($cachet-grey, 10%);

$cachet-orange: #ff9900;
$dark-orange: darken($cachet-orange, 10%);
